<div class="content-wrapper card">
    <h5 class="content-title">Добавить счет</h5>
    <form class="add-expense-form">
        <div class="add-expense-form__field">
            <input
                    class="add-expense-form__input"
                    id="expense-name"
                    placeholder="Название счета"
                    required
                    type="text"
            />
        </div>
        <div class="add-expense-form__field">
            <input
                    class="add-expense-form__input"
                    id="expense-overall"
                    placeholder="Сумма ($)"
                    required
                    type="number"
                    value="0"
            />
        </div>
        <div class="add-expense-form__field">
            <label class="expense-photo-label" for="expense-photo">Выберите фото</label>
            <input
                    accept=".png, .jpg, .jpeg"
                    class="add-expense-form__input expense-photo"
                    id="expense-photo"
                    type="file"
            />
        </div>
        <div class="participants">
            <div class="participants__item">
                <input
                        class="add-expense-form__input"
                        id="participant-email"
                        placeholder="Е-маил участника"
                        type="email"
                />
                <input
                        class="add-expense-form__input"
                        id="participant-sum"
                        placeholder="Сумма участника ($)"
                        type="number"
                        value="0"
                />
            </div>
            <button class="add-expense-form__add-participant default-btn">Добавить участника</button>
        </div>
        <ul class="participants-list"></ul>
        <button class="add-expense-form__sumbit default-btn" type="submit">Создать счет</button>
    </form>
</div>
