<div class="dashboard">
    <div class="dashboard__left">
        <article class="dashboard__user-created-expenses user-created-expenses card">
            <div class="card__header">
                <h4 class="dashboard__title">Счета, созданные вами</h4>
                <p class="user-created-expenses__sum"></p>
            </div>
            <ul class="user-created-expenses__list"></ul>
        </article>
        <article class="dashboard__expenses-to-pay expenses-to-pay card">
            <div class="card__header">
                <h4 class="dashboard__title">Счета к оплате</h4>
                <p class="expenses-to-pay__sum"></p>
            </div>
            <ul class="expenses-to-pay__list"></ul>
            <button class="expense-to-pay__show-more-btn" data-action="show">Больше</button>
        </article>
    </div>
    <div class="dashboard__right">
        <div class="dashboard__add-expense add-expense card">
            <a class="add-expense__button" href="#add-expense">Добавить счет</a>
        </div>
        <article class="dashboard__recent-payments recent-payments card">
            <div class="card__header">
                <h4 class="dashboard__title">Недавние платежи</h4>
            </div>
            <ul class="recent-payments__list"></ul>
        </article>
    </div>
</div>
