<div class="login-container">
    <form class="login" name="login">
        <div class="login__field">
            <label class="login__label" for="login__email">Е-маил</label>
            <input class="login__input" id="login__email" name="login__email" type="email"/>
        </div>
        <div class="login__field">
            <label class="login__label" for="login__password">Пароль</label>
            <input class="login__input" id="login__password" name="login__password" type="password"/>
        </div>
        <div class="login__btn-container">
            <button class="button login__button" type="submit">Логин</button>
        </div>
    </form>
    <div class="error"></div>
</div>
