<div class="dashboard">
    <div class="dashboard__left">
        <div class="dashboard__user-created-expenses user-created-expenses card">
            <div class="card__header">
                <h4 class="dashboard__title">User Created Expenses</h4>
                <p class="user-created-expenses__sum"></p>
            </div>
            <ul class="user-created-expenses__list">
                <li class="user-created-expenses__item" data-expense-id="not-an-item">No expenses</li>
            </ul>
            <button class="user-created-expenses__show-more-btn" data-action="show">Show More</button>
        </div>
        <div class="dashboard__expenses-to-pay expenses-to-pay card">
            <div class="card__header">
                <h4 class="dashboard__title">Expenses To Pay</h4>
                <p class="expenses-to-pay__sum"></p>
            </div>
            <ul class="expenses-to-pay__list">
                <li class="expense-to-pay__item" data-expense-id="not-an-item">No expenses</li>
            </ul>
            <button class="expense-to-pay__show-more-btn" data-action="show">Show More</button>
        </div>
    </div>
    <div class="dashboard__right">
        <div class="dashboard__add-expense add-expense card">
            <a class="add-expense__button" href="#add-expense">Add Expense</a>
        </div>
        <div class="dashboard__recent-payments recent-payments card">
            <div class="card__header">
                <h4 class="dashboard__title">Recent payments</h4>
            </div>
            <ul class="recent-payments__list"></ul>
        </div>
    </div>
</div>
