@import "actions/add-expense.css";
@import "actions/info-expense.css";

.content-wrapper {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 20px 20px;
}

.content-title {
    font-size: 24px;
    font-weight: 500;
}
