@import "./cards/expenses-to-pay.css";
@import "./cards/user-created-expenses.css";
@import "./cards/balance.css";
@import "./cards/add-expense.css";
@import "./cards/recent-payments.css";

.dashboard {
    padding-top: 40px;
    display: flex;
    gap: 20px;
}

.dashboard__left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard__title {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}

.card {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px var(--color-shadow);
    background-color: var(--card-color);

    background: var(--card-color);
    border-radius: 10px;
    border: 1px solid var(--card-color);
}

@media screen and (max-width: 700px) {
    .dashboard {
        flex-direction: column-reverse;
        padding-top: 40px;
    }
}
