.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 5px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px var(--color-shadow);
    background-color: var(--color-primary);
}

.header__logo {
    margin-right: auto;
}

.logo__icon {
    width: 50px;
    height: 50px;
}

.logo__path {
    fill: var(--logo-color);
}

.header__item {
    padding-left: 40px;
}

.header__select {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: min(14px , 2.5vw);
    cursor: pointer;

    background-color: var(--color-primary);
    color: var(--font-color);
    outline: none;
    border: 2px solid var(--font-color);
}

.header__link {
    color: var(--font-color);
}

.theme-switcher {
    position: absolute;
    z-index: -10;
    opacity: 0;
}

.theme-switcher__label {
    position: relative;

    display: block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--color-secondary);
    cursor: pointer;
}

.theme-switcher__label_active .theme-switcher__circle {
    left: 30%;
    transition: 0.3s;
}

.theme-switcher__circle {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

    width: 15px;
    height: 15px;
    border-radius: 20px;
    border-right: 50%;
    background-color: var(--font-color);
    transition: 0.3s;
}

@media screen and (max-width: 420px) {
    .header {
        height: 60px;
        padding: 15px;
    }

    .logo__icon {
        width: 30px;
        height: 30px;
    }

    .header__item {
        padding-left: 20px;
    }

    .header__select {
        padding: 3px 7px;
        font-size: min(12px , 2vw);
    }

    .header__link {
        font-size: min(12px , 2vw);
    }
}
