@import "header.css";
@import "login.css";
@import "dashboard.css";
@import "actions.css";

.theme-light {
    --color-primary: #e0f2f1;
    --color-secondary: #a7c0cd;
    --color-shadow: #5c5c5c;
    --font-color: #212121;
    --logo-color: #212121;

    --success-color: #43a047;
    --attention-color: #b91400;

    --card-color: rgba(142, 217, 252, 0.2);
}

.theme-dark {
    --color-primary: #33333d;
    --color-secondary: #434250;
    --color-shadow: #4e4e4e;
    --font-color: #fafafa;
    --logo-color: #fafafa;

    --success-color: #76d275;
    --attention-color: #f4511e;

    --card-color: rgba(241, 241, 241, 0.2);
}

#spa {
    padding-bottom: 80px;
}

.default-btn {
    outline: none;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 3px var(--color-shadow);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.default-btn:hover {
    background-color: var(--font-color);
    color: var(--color-primary);
}

.error {
    width: 100%;
    margin-top: 40px;
    height: 10px;
    text-align: center;
    color: var(--attention-color);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-primary);
    color: var(--font-color);
}

button {
    transition: 0.3s;
}

button:hover {
    transition: 0.3s;
}

button:active {
    transform: scale(0.97);
    transition: 0.3s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
